*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
#header, #main, #footer{
    grid-column: 1 / span 12;
    width: 100%;
}
.listHero{
    width:100%;
}
.listHero .row > div:last-child{
    background-color:#202020;
    height:528px;
}
.search-bar{
    width:100%;
    display:flex;
    background-color:#e62429;
    height:65px;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-bottom: 13px;
}

.searchHero{
    width: 60%;
    height:5vh;
    border: none;
    border-right: 2px solid black;
    font-size: 1.2em;
}
.checkType{
    width: 20%;
    height:5vh;
    border:none;
    font-size: 1.2em;
}

.list-hero, .list-villain{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: white;
    height:450px;
    padding-top: 5vh;
    border-bottom:2px solid black;
}
.list-hero::-webkit-scrollbar,  .list-villain::-webkit-scrollbar{
    width: 8px;
    
}

.list-hero::-webkit-scrollbar-track, .list-villain::-webkit-scrollbar-track{
    width: 6px;
    background-color: gray;
    border: 3px solid white;
}
.list-hero::-webkit-scrollbar-thumb, .list-villain::-webkit-scrollbar-thumb{
    background-color:#e62429;
    border:1px solid white;
}
.list-hero > div, .list-villain > div{
    width:10vw;
    margin: 20px 1em 20px 0;
    background-color: black;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0 , 100% 95% , 90% 100%, 0 100%);
}
.list-hero > div:hover, .list-villain > div:hover{
    border:2px solid black;
}
.list-hero p, .list-villain p{
    font-size: 0.8em;
    padding: 3px 3px 3px 0;
    color:white;
    font-weight: bold;
}
.list-hero img,  .list-villain img{
    width:100%;
    border-bottom: 4px solid #e62429 ;
}
.info-hero{
    padding-left: 10%;
    padding-right: 10%;
    height:100%;
}
.info-hero h1{
    color:#e62429;
    font-size: 1.4em;
}
.info-hero h2{
    color: white;
    text-align: center;
}
.information{
    width:100%;
    color:white;
}
.information blockquote{
    text-align: center;
    font-size: 2vw;
}
.information td{
    font-size: 1.8vw;
}
.information a{
    margin-top: 2vh;
    display:block;
    color:white;
    font-size: 1em;
}
.information td:first-child{
    width:30%;
    vertical-align: top;
}
.information td:last-child{
    width:70%;
}


@media only screen and (min-width: 50em) and (max-width: 64em){
    .list-hero > div, .list-villain > div{
        width:15vw;
    }
}
@media only screen and (min-width: 30em) and (max-width: 50em) {
    .list-hero > div, .list-villain > div{
        width: 30vh;
    }
    .list-hero, .list-villain{
        height: 60vh;
    }
}
@media only screen and (max-width: 30em) {
    .list-hero > div,  .list-villain > div{
        width:20vh;
    }
    .list-hero,  .list-villain{
        height: 45vh;
    }
}