*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#header, #main, #footer{
    grid-column: 1 / span 12;
    width: 100%;
}
#footer{
    margin-top: 150px;
    background-color: #202020;
    border-top: 5px solid #e62429;
    padding: 100px 0;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.changeBackground{
    position:fixed;
    right:0;
    top:20vh;
    z-index:3;
    display: none;
}
.changeBackground img{
    width:50px;
    opacity:0.7;
}
.choose{
    position:absolute;
    width:300px;
    height:150px;
    right:0;
    background-color: white;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    text-align:center;
    font-weight:bold;
    display: none;
}
.liststone > img{
    width:40px;
    display: none;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    width: 6px;
    background-color: rgba(0, 0, 0, 0.514);
}
::-webkit-scrollbar-thumb{
    background-color:#e6242bfd;

}

.introduce > .content{
    height:100vh;
    width:100%;
}
.introduce-background{
    height:100%;
    background: url('image/BGB.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:flex-end;
}
.introduce-content{
    height:100%;
    width:500px;
    background-color: rgba(0, 0, 0, 0.479);
    clip-path: polygon(20% 0, 100% 0, 100% 100% , 0 100% );
    display:flex;
    align-items: center;

}
.introduce-content h3{
    margin-left: 20%;
    margin-right: 10%;;
    color:white;
    font-size: 2em;
    text-align: right;
}
.newMovie{
    margin:100px 0;
}
.newMovie-background{
    margin: 20px 5%;
    width:90%;
}
.newMovie img{
    width:100%;
}
.newMovie-title{
    margin: 0 5%;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.footerSvg{
    width:100%;
    height: auto;
}
.listHero{
    width:100%;
    margin-top: 100px;
}
.listHero .row > div:last-child{
    background-color:#202020;
    height:528px;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.search-bar{
    width:100%;
    display:flex;
    background-color:#e62429;
    height:65px;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-bottom: 13px;
}

.searchHero{
    width: 60%;
    height:5vh;
    border: none;
    border-right: 2px solid black;
    font-size: 1.2em;
}
.checkType{
    width: 20%;
    height:5vh;
    border:none;
    font-size: 1.2em;
}

.list-hero, .list-villain{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: white;
    height:450px;
    padding-top:0;
    position: relative;
}

.list-hero::-webkit-scrollbar,  .list-villain::-webkit-scrollbar{
    width: 8px;
    
}

.list-hero::-webkit-scrollbar-track, .list-villain::-webkit-scrollbar-track{
    width: 6px;
    background-color: gray;
    border: 3px solid white;
}
.list-hero::-webkit-scrollbar-thumb, .list-villain::-webkit-scrollbar-thumb{
    background-color:#e62429;
    border:1px solid white;
}
.list-hero > div, .list-villain > div{
    width:10vw;
    margin: 20px 1em 20px 0;
    background-color: black;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0 , 100% 95% , 90% 100%, 0 100%);
}
.list-hero > div:hover, .list-villain > div:hover{
    border:2px solid black;
}
.list-hero p, .list-villain p{
    font-size: 0.8em;
    padding: 3px 3px 3px 0;
    color:white;
    font-weight: bold;
}
.list-hero img,  .list-villain img{
    width:100%;
    border-bottom: 4px solid #e62429 ;
}
.info-hero{
    padding-left: 10%;
    padding-right: 10%;
    height:100%;
 
}
.info-hero h1{
    color:#e62429;

}
.info-hero h2{
    color: white;
    text-align: center;
}
.information{
    width:100%;
    color:white;
}
.information blockquote{
    text-align: center;
    font-size: 2vw;
}
.information td{
    font-size: 1.8vw;
}
.information a{
    margin-top: 2vh;
    display:block;
    color:white;
    font-size: 1em;
}
.information td:first-child{
    width:30%;
    vertical-align: top;
}
.information td:last-child{
    width:70%;
}


/* Danh sach phim  */

.background-timeline{
    width: 100%;
    background: url('image/universe-1.jpg');
    height: 500px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 100px;
}
.background2{

    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:100%;
    height: 560px;
    background-color:rgba(0, 0, 0, 0.308);
    z-index: 1;
}
.background3 button{
    background-color:rgba(0, 0, 0, 0.80);
    color:white;
    border: none;
}
.background3{
    font-size:1.5em;
    color: rgba(255, 255, 255, 0.699);
    overflow-y: scroll;
    padding: 0px 20px;
    width: 60%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}
.background3 p{
    text-indent: 30px;
}

.summary{
    background-color:rgba(0, 0, 0, 0.81);
    border-radius: 10px;
    display:none;
    position: absolute;
    z-index: 1;
    width:80% ;
    height:200px;
    right:-85%;
    color:rgba(255, 255, 255, 0.699);
    padding:8px 8px;
    
    
}
.summary p{

    font-weight: bold;
    font-size: 1.5em;
    display: -webkit-box;
    margin:0;
    padding:0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.logo{
    position: relative;
    flex: 0 0 20vw;
    margin: 0 calc((100vw / 3 - 20vw) / 2); 
    display:flex;
    align-items: center;
    height:116px ;  
}
.timeline-top > .logo::after{
    content:"";
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 97% 100%, 97% 2%, 0 2%);
    width:30px;
    height:50px;
    position:absolute;
    top:116px;
    right: 0;
}
.timeline-bot > .logo::after{
    content:"";
    background-color: white;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 98%, 97% 98%, 97% 0%);
    width:30px;
    height:50px;
    position:absolute;
    bottom:100px;
    right: 0;
}
.timeline-bot img, .timeline-top img{
    width: 100%;
    height: auto;
 }
 .booty img{
     width: 100px;
     height: auto;
 }
 .booty{
     width: 100%;
     height:100px;
 }
.timeline-top{
    align-items: center;
    display:flex;
    justify-content: flex-start;
    width: calc((13 * 100vw) / 3)
}

.timeline-line{
   position: absolute;
   width: 100%;
   border-top: 0.5px solid rgba(255, 255, 255, 0.616);
   border-bottom: 0.5px solid rgba(255, 255, 255, 0.76); 
   background-color: rgba(0, 0, 0, 0.61);
   height:20px;
   top:240px;
}
.timeline-bot{
   display: flex;
   align-items: center;

   justify-content: flex-start;
   width: calc((13 * 100vw) / 3);
   padding-left:calc((100vw / 2 - 20vw) / 2) ;
}

.timeline-title{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:#202020;
   height:150px;
   font-size: 70px;
   color:white;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 10px;
   font-weight: bold;
   clip-path: polygon(0 0, 100% 0 , 100% 80%, 90% 100%, 10% 100%, 0 80%);
   animation-duration: 5s;
   animation-fill-mode: forwards;
}
.timeline-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    overflow-x: scroll;
}
.timeline-content::-webkit-scrollbar{
    height:10px
}
.timeline-content::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.253);
}
.timeline-content::-webkit-scrollbar-thumb{
    background-color:#e62429;
}
.time{
    position: absolute;
    color:white;
    width:100%;
    text-align: center;
    top:-45px;
}
.time p {
    font-size: 20px;
    display:inline-block;
    background-color:#e6242bcb;
    padding:20px;
    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100% , 0 20%);
    
}
.footerLink{
    display:flex;
    justify-content:space-around;
}
.primary-link{
    height:100%;
    display: flex;
    flex-direction: column;
    color:white;
    flex: 0 0 40%;
    font-weight: bold;
}
.secondary-link{
    width:40%;
    height:100%;
    display: flex;
    flex-direction: column;
    color:white;
    flex: 0 0 40%;
    font-weight: bold;
}
.primary-link a, .secondary-link a{
    margin: 0 0 10px 0;
}
.footerInfo-primary, .footerInfo-secondary{
    display:flex;
    width: 100%;
    margin: 0 0 20px 0;
}
.footerInfo{
    display:flex;
    flex-direction: column;
}
.logofooter{
    flex: 0 0 20%;
    margin-right:5%
}
.content{
    flex: 0 0 70%;
}
.content  h4 , .content p{
    margin:0;
    color:white;
}
.logofooter img{
    width:60px;

}
.social h4{
    margin:0;
    color:white;
}
.list-social {
    list-style-type: none;
    width:70%;
    display: flex;
    margin:0;
    padding:0;
    flex-wrap: wrap;
    
}
.list-social li{
    flex: 0 0 25%;
    margin: 10px 0;
}
@media only screen and (min-width: 50em) and (max-width: 64em){
    .list-hero > div, .list-villain > div{
        width:15vw;
    }
    .information blockquote{
        font-size: 2.2vw;
    }
    .information td{
        font-size: 2vw;
    }
    .information a{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 30em) and (max-width: 50em) {
    .list-hero > div, .list-villain > div{
        width: 30vh;
    }
    .info-hero h1{
        text-align:center;
    }
    .list-hero, .list-villain{
        height: 60vh;
        margin-bottom: 15px;
        border-bottom: 1px solid black;
    }
    .information blockquote{
        font-size: 3.5vw;
    }
    .information td{
        font-size: 3vw;
    }
    .information a{
        font-size: 1em;
    }
    .introduce-content{
        clip-path: polygon(0 0, 100% 0, 100% 100% , 0 100% );
        width:100%
    }
    .timeline-title{
        clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100% );
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 30em) {
    .list-hero > div,  .list-villain > div{
        width:20vh;
    }
    .list-hero,  .list-villain{
        height: 45vh;
    }
    .information blockquote{
        font-size: 3.7vw;
    }
    .information td{
        font-size: 3vw;
    }
    .information a{
        font-size: 1.5em;

    }
    .introduce-content{
        clip-path: polygon(0 0, 100% 0, 100% 100% , 0 100% );
        width:100%
    }
    .timeline-title{
        clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100% );
        font-size: 1.2em;
    }
}
@keyframes yellow {
    100%{background: linear-gradient(90deg, rgb(142, 180, 3), rgb(196, 196, 3))}
}
@keyframes green {
    100%{background: linear-gradient(90deg, rgb(5, 204, 95), rgb(33, 204, 118))}
}
@keyframes purpile {
    100%{background: linear-gradient(90deg, rgb(121, 11, 224), rgb(172, 16, 211))}
}
@keyframes red {
    100%{background: linear-gradient(90deg, rgb(216, 13, 63), rgb(224, 11, 39))}
}
@keyframes orange {
    100%{background: linear-gradient(90deg, rgb(202, 69, 7), rgb(228, 152, 10))}
}
@keyframes blue {
    100%{background: linear-gradient(90deg, rgb(9, 186, 218), rgb(21, 107, 219))}
}